.main-container-01 {
    min-height: fit-content;
    margin: 50px 0 0 0;
  }
  

.central-form-2 {
    padding: 20px 30px;
    background-color: white;
    border-radius: 12px;
    margin-top: 20px;
}

.certifications-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.certification-card {
    width: 200px; 
    border-radius: 12px;
    box-shadow: 0 0px 20px -2px #1f2235;
    text-align: center;
    transition: transform 0.3s;
    background-color: white;
}

.certification-card:hover {
    transform: scale(1.05);
}

.certification-card img {
    width: 100%;
    height: 150px; /* fixed height for consistency */
    border-radius: 5px;
    object-fit: contain; /* The whole image will be visible, but may have whitespace */
}
.certification-card p {
    margin-top: 10px;
    font-weight: 600;
    color: black;
    transition: color 0.3s;
}

.certification-card a:hover p {
    color: orangered;
    text-decoration: none;
}

.certification-card a {
    text-decoration: none;
    color: black;
}
